/******Styles for index.html******/

/* tag styles */
body{
	height: 100vh;
	background-color: #000 !important;
	background-image: url('https://images.unsplash.com/photo-1487700160041-babef9c3cb55?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1335&q=80');
	background-repeat: no-repeat;	
	background-size: 100% 100%;
}


/* navigation bar */
.navbar-nav
.algorithm.active
{
	background-color: #FFF !important;
	color: #9d9d9d !important;
}

/* graph styles */
.graphContainer
{	
	border: 1px solid #333;
	border-radius: 5px;
	/*background-color: #555;*/
	/*background-image: url('https://images.unsplash.com/photo-1478059299873-f047d8c5fe1a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80');*/
	background-repeat: no-repeat;	
	background-size: 100% 100%;
	color: rgba(0,0,0,0);
}
.graphContainer 
.graphRow 
.element
{
	border: 1px solid #333;
	text-align: center;
	height: 4.5vh;
}
.graphContainer 
.graphRow 
.element:hover
{
	background-color: grey;
}
.graphContainer 
.graphRow
.element.wallNode /*important: no space = intersection*/
{
	background-color: grey !important;
	background-image: url('https://images.unsplash.com/photo-1520758594221-872948699332?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
}
.graphContainer 
.graphRow
.element.startNode /*important: no space = intersection*/
{
	background-color: green !important;
}
.graphContainer 
.graphRow
.element.targetNode /*important: no space = intersection*/
{
	background-color: red !important;
}
.graphContainer 
.graphRow
.element.pathNode /*important: no space = intersection*/
{
	background-color: yellow !important;
}

/* button controls */
.btnGraph.active
{
	color: black !important;
	background-color: white !important;
}

/* utility styles */
.horizontalCentred{
	text-align: center;
}

/* social media button styles */
.socialMedia
.fa
{
	margin: 1vh;
	font-size: 5vh;
	margin-top: 5vh;
}


/* for debugging */